<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>My Profile - {{ user.username }}</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="home"
                ><i class="fa fa-home"></i>&nbsp;Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'myprofile' %}"
                ><i class="fa fa-user"></i>&nbsp;My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/transactions"
                ><i class="fas fa-money-check-alt"></i>&nbsp;Transactions</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/running"
                ><i class="fas fa-trophy"></i>&nbsp;Running</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="home/notifications"
                ><i class="fas fa-bell"></i>&nbsp;Notifications</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'logout' %}"
                tabindex="-1"
                aria-disabled="false"
                >Log Out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</html>
